.Login-homeButton {
  text-align: center;
}

.Login-button {
  text-align: center;
}

.Login-username {
  text-align: center;
}

.Login-password {
  text-align: center;
}

.Login-Header{
  text-align: center;
  font-size: 40pt;
}